
<section class="testimonial-slider">
    <div class="page-width">
        <h2>{{ section.settings.testimonial-slider }}</h2>
        <div class="testimonial-track">

            {%- for block in section.blocks -%}
                <div class="testimonial-card">
                    <div class="testimonial-meta">
                        <img src="{{ block.settings.avatar | img_url }}" alt="Testimonial Image" class="avatar">
                        <div class="author-meta">
                            <h3>{{ block.settings.name }}</h3>
                            <div class="star-rating">

                                {% for i in (1..5) %}
                                    {% if i > block.settings.rating %}
                                        {% break %}
                                    {% else %}
                                        <img src="{{ 'star.png' | asset_url }}" alt="Star Rating">
                                    {% endif %}
                                {% endfor %}

                            </div>
                        </div>
                    </div>
                    <div class="testimonial-content">
                        <p>{{ block.settings.testimonial }}</p>
                    </div>
                </div>
            {%- endfor -%}

        </div>
    </div>
</section>

{% schema %}
{
    "name": "Testimonial Slider",
    "settings": [
        {
            "id": "testimonial-slider",
            "type": "text",
            "label": "Add a testimonial slider"
        }
    ],
    "templates": ["index"],
    "presets": [
        {
            "name": "Testimonial Slider",
            "category": "Sliders"
        }
    ],
    "blocks": [
        {
            "name": "Testimonial Card",
            "type": "testimonial-card",
            "settings": [
                {
                    "type": "image_picker",
                    "id": "avatar",
                    "label": "Avatar Image"
                },
                {
                    "type": "text",
                    "id": "name",
                    "label": "Name"
                },
                {
                    "type": "text",
                    "id": "testimonial",
                    "label": "Testimonial Content"
                },
                {
                    "type": "range",
                    "id": "rating",
                    "label": "Star Rating",
                    "default": 5,
                    "min": 0,
                    "max": 5
                }
            ]
        }
    ]
}
{% endschema %}

{% stylesheet %}
    section.testimonial-slider {
        margin-top: 2rem;
        margin-bottom: 5rem;
    }
    .testimonial-card:before {
        content: url('https://cdn.shopify.com/s/files/1/0554/0996/7243/t/3/assets/quote.png?v=1636742403');
        position:absolute;
        right:1rem;
        top:-2rem;
    }
    .testimonial-meta {
        display: flex;
        align-items: center;
    }
    .testimonial-meta img.avatar {
        margin-right: 1rem;
        width: 84px;
        height: 84px;
    }
    .author-meta h3 {
        margin: 0 0px 2px 0;
        font-weight: bold;
        font-size: 2rem;
    }
    .testimonial-card {
        padding: 2rem;
        border: 1px solid #707070;
        margin: 0 1rem;
        position:relative;
        margin-top: 30px;
    }
    .slick-slide .star-rating img {
        display: inline!important;
    }
    button.slick-arrow {
        background: black;
        border: none;
        padding: 2rem;
        font-size: 0;
        color: transparent;
        position: absolute;
        cursor: pointer;
    }
    button.slick-prev.slick-arrow {
        left: -45px;
        top: calc(50% - 27.5px);
    }
    button.slick-next.slick-arrow {
        right: -45px;
        top: calc(50% - 27.5px);
    }
    button.slick-prev.slick-arrow:before {
        content:url('https://cdn.shopify.com/s/files/1/0554/0996/7243/t/3/assets/chevron-left.png');   
    }
    button.slick-next.slick-arrow:before {
        content:url('https://cdn.shopify.com/s/files/1/0554/0996/7243/t/3/assets/chevron-right.png');   
    }
    button.slick-arrow:hover {
        opacity:0.75
    }
    .slick-dots li button {
        font-size: 0;
        line-height: 0;
        display: block;
        width: 20px;
        height: 20px;
        padding: 5px;
        cursor: pointer;
        color: transparent;
        border: 0;
        outline: none;
        background: transparent;
    }
    .slick-dots li button:before {
        font-family: 'slick';
        font-size: 5rem;
        line-height: 20px;
        position: absolute;
        top: 0;
        left: 0;
        width: 20px;
        height: 20px;
        content: '•';
        text-align: center;
        opacity: .25;
        color: black;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
    .slick-dots li.slick-active button:before {
        opacity: .75;
        color: black;
    }
    .slick-dots li {
        position: relative;
        display: inline-block;
        width: 20px ;
        height: 20px ;
        margin: 0 5px ;
        padding: 0;
        cursor: pointer;
    }
    .slick-dots {
        position: absolute;
        bottom: -25px ;
        display: block;
        width: 100%;
        padding: 0;
        margin: 0;
        list-style: none;
        text-align: center;
    } 
    @media screen and (max-width:600px) {
        button.slick-arrow {
            display: none!important;
        }
    }
{% endstylesheet %}

{% javascript %}
    $('.testimonial-track').slick({
        infinite: true,
        slidesToShow: 3,
        slidesToScroll: 1,
        dots: true,
        responsive: [
            {
                breakpoint: 600,
                settings: {
                    slidesToShow: 1,
                    slidesToScroll: 1,
                }
            }
        ]
    });
{% endjavascript %}